body {
  font-family: sans-serif;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: .5em;
  border: 1px solid rgb(26, 25, 25);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
